# Directories
epi_compiler/
riscv-gnu-toolchain/
riscv-pk/
map/
build/
.vscode/
# Output files
trace
err_*
out_*
simulation_scripts/results_*/
# Apps files
apps/**/dataset.h
apps/**/matmul
apps/**/spmv
apps/**/somier
apps/**/axpy
